body{
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}
.container{
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.switch {
  position: relative;
  align-self: center;
  display: inline-block;
  width: 54px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid ivory
}
.text {
  display: inline-block; /* would be block accept for side text */
  display: inline-block;
  font-size: 20px;
  align-self: center;
}
.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:after {
  content: 'OFF';
  font-size: 11px;
  color: black;
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
}

input:checked + .slider {
  background-color: #1791f5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1791f5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
input:checked + .slider:after {
  content: 'ON';
  left: 7px;
  color: white;
  top: 50%;
  transition: 0.5;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
